# OS metadata
.DS_Store

# temporary and backup files
.*.swp
*~

# LaTeX derivatives
*.aux
*.bbl
*.blg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.log
*.nav
*.out
*.pdf
*.snm
*.toc

*.synctex.gz
_minted/
_minted-*/

.version.tex


/unversioned/

# derivative files generated via .ins and .dtx
*.cls
*.sty

# package distribution archive
*.zip
